// classes and html tags modification

h1 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

.navbar-light .navbar-toggler {
  border: none;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary {
  background-color: #0056B3;
}

h5.card-title {
  white-space: pre-wrap;
}

div.dropdown-menu.show {
  left: -10vw;
}

#moreInfoButton {
  font-size: 1rem;
  min-width: min-content;
  margin: 0;
  padding: 0.25rem 0.75rem;
  width: auto
}

.moreInfo {
  
  h5 {
    margin-top: 0.5rem;
  }
  
  p {
    padding: 0.5rem 0;
  }
  
}
  
section[id*="MoreInfo"] {

  section {
    
    h5, p {
      margin: 0.25rem 0;
    } 

    h5:last-of-type {
      margin-top: 0.5rem;
    }

  }

}

.noPhotoAvailable {
  height: 200px;
  max-height: min-content;
}

// sections

.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: minmax(2rem, 5rem) 10fr 1fr;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

// header

header {
  background: #eee;
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 13;

  .navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem;
    flex: 1 1 100%;
    padding: 0;
    
    #brand {
      background: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      h1 {
        color: #007bff;
      }  
    
    }
    
    #mainNav {
      background: #eee;
      margin-left: auto;
      margin-right: 3rem;
      
      ul {
        display: flex;
        align-items: center;
      }
      
    }
    
  }
    
  
}

// main

main {
  display: grid;
  grid-area: 2 / 1 / 12 / 13;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
  text-align: center;

  .addressForm {
    grid-area: 1 / 1 / 3 / 2;
  }

  .addressForm {
    padding: 0 2rem;

    h2 {
      font-size: 1.5rem;
      margin: 0.75rem auto 0;
    }

    form {
      margin: 0 auto 2rem;
      
      .form-group {
        margin: 0;
      }
      
      button {
        margin: 2rem 0;
        width: 100%;
      }
    }

  }

  .registrationAddress {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;

    .card-body {
      flex: 0 1 auto;
      padding: 0;
      
      .userAddress {
        padding: 2rem 1rem;
        
        ul li {
          font-size: 1.33rem;
          font-weight: 300;
          line-height: 1.5;
        }
      
      }
      
      .changeAddress {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        
        button {
          margin: 1rem 0;
          padding: 1rem;
        }
      
      }
      
      .electionAuthorityAddress {
        background: #eee;
        padding: 3rem 1rem 2rem;
      }
      
    }
    

  }

  .votingInformationPlaceholder {
    color: #6c757d;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 3 / 7;
    padding: 8rem 2rem;
  }

  .dataOutput {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 3 / 7;
  }

  .votingInformation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-area: 1 / 1 / 2 / 7;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
    .voterInformation {
      grid-area: 1 / 1 / 2 / 2;
      height: max-content;
      
      &>.card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
    }

    .voteInfoLinks {
      display: flex;
      flex-direction: column;
      
      h4 {
        margin-bottom: 2rem;
      }
      
      ul {
        display: flex;
        justify-content: space-around;
        
        li {
          margin: 0 1rem;
          
          a {
            font-size: 1.33rem;
          }
          
        }
      
      }
       
    }
    
    .electedRepresentatives {
      grid-area: 2 / 1 / 3 / 2;
      
    }

  }

  .electionsInformation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    grid-area: 2 / 1 / 3 / 7;
    margin-bottom: 1rem;

  }

}

// component cards

.representativesCard, .officeRacesCard, .upcomingRacesCard, .upcomingReferendumCard {
  
  button {
    font-size: 1.25rem;
    margin: 1rem;
    width: 250px;
  }
  
}

.referendum {
  
  button {
    max-width: 50%;
  }
  
}

.federalRepresentatives, .stateRepresentatives, .localRepresentatives {
  display: grid;
  
  &>.card {
    display: flex;
    flex-direction: row;
    
    &>.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
      &>.card-header, &>.card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      &>.card-body figure img {
        height: 200px;
        width: 175px;
        object-fit: cover;
      }
      
      &>.card-header {
        min-height: 6rem;
        height: fit-content;
      }
      
    }
    
  }
  
}

.federalRepresentatives {
  grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  
  .card-header {
    min-height: fit-content;
  }
}

.stateRepresentatives {
  grid-template-columns: repeat(4, 1fr);
}

.localRepresentatives {
  grid-template-columns: repeat(6, 1fr);
  
  &>.card {
    display: contents;
  }
  
}

.raceCandidates > section > .card-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  &>.card>.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

// footer

footer {
  background: #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 12 / 1 / 13 / 13;
  
  h3 {
    color: #333;
    padding: 1rem 0;
  }

  .subfooter {
    background: #dedede;
    justify-content: space-around;
    padding: 1rem 0;
    width: 100%;
  }

}

.socialLinks {
  display: flex;
  
  li {
    margin: 0.25rem;
    
    a i {
      font-size: 1.66rem;
    }
    
  }
  
}

@media only screen and (max-width: 1000px) {
  
  header {

    .navbar {
      grid-template-columns: 1fr 1fr;

      #brand {
        margin-right: 0;
        margin-left: 1rem;
        justify-self: flex-start;
      }
    
      button.navbar-toggler {
        justify-self: flex-end;
      }

      #mainNav {
        grid-area: 2 / 2 / 3 / 3;
        margin-right: 0;
        padding: 0.25rem 0.75rem;

        ul {
          align-items: flex-end;
        }

      }

      #navbarDropdown {
        align-self: flex-end;
      }

      .nav-item {
        width: inherit;
      }
  
      .nav-item.dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }

  }
 
  main {
   
    grid-template-columns: repeat(12, 1fr);
     
    .addressForm {
      grid-area: 1 / 1 / 3 / 4;
    }
     
    .registrationAddress {
      grid-area: 1 / 1 / 3 / 4;
    }
     
    .votingInformationPlaceholder, .dataOutput {
      grid-area: 1 / 4 / 3 / 13;
    }
     
  }
  
}

@media only screen and (max-width: 600px) {
  
  .app {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;
    
    .addressForm, .registrationAddress, .dataOutput, .votingInformation, .electionsInformation {
      display: flex;
      flex-direction: column;
      grid-area: none;
    }

    .informationPlaceholder {
      padding: 4rem 2rem;
    }
    
    .votingInformation .voteInfoButtons {
      flex-direction: column;
      
      ul {
        flex-direction: column;
        margin: 0;
        
        li {
          margin: 0.5rem 0;
        }
      
      } 
      
      
    }

    .federalRepresentatives, .stateRepresentatives {
      grid-template-columns: repeat(2, 1fr);
    }

  }

}
