.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

header, footer {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  text-align: center;

  h2 {
    margin: 2rem auto;
  }

  form {
    margin: 0 auto 2rem;

    label {
      margin: 0.33rem auto;
    }

    button {
      margin: 0.66rem auto;
    }
  }

  .racesContainer {
    width: 90vw;
    align-self: center;
  }

}

.votingInformation {
  display: flex;
  
  .userAddress, .voterInformation {
    min-width: 50vw;
  }
  
}

.electionsInformation {
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  
  .votingInformation {
    flex-direction: column;
    justify-content: start;
  }
  
  .electionsInformation {
    width: 95vw;
  }
  
}

