.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.btn-primary {
  background-color: #0056B3;
}

ul {
  list-style: none;
}

header, footer {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

main {
  display: flex;
  min-height: 70vh;
  width: 100vw;
  text-align: center;

  .addressForm {
    padding: 0 2rem;
    min-width: 25vw;

    h2 {
      margin: 2rem auto;
    }

    form {
      margin: 0 auto 2rem;

      label {
        margin: 0.33rem auto;
      }

      button {
        margin: 0.66rem auto;
      }
    }

  }

  .userAddress {

    width: 20vw;

    ul li {
      font-size: 1.33rem;
      font-weight: 300;
    }

  }

  .informationPlaceholder {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
    width: 100%;
  }

  .votingInformation {
    display: flex;
    min-width: 75vw;

    .voterInformation {
      width: 40vw;
    }

    .electedRepresentatives {
      width: 100%;
    }

  }

  .electionsInformation {
    width: 50vw;
  }

}

@media only screen and (max-width: 600px) {

  main {
    flex-direction: column;

    .addressForm {
      width: 100%;
    }

    .informationPlaceholder {
      padding: 4rem 2rem;
    }

    .votingInformation {
      flex-direction: column;

      .userAddress {
        width: 100vw;
      }

    }

    .electionsInformation {
      width: 90vw;
    }

  }



}
